[submodule "CDCN_Covid19_BE"]
	path = CDCN_Covid19_BE
	url = https://github.com/o2buzzle/CDCN_Covid19_BE.git
[submodule "CDCN_Covid19_FE"]
	path = CDCN_Covid19_FE
	url = https://github.com/o2buzzle/CDCN_Covid19_FE.git
